version: "3.9"
services:
  url-shorter:
    build: .
    ports:
      - "80:8000"
    depends_on:
      db:
        condition: service_healthy
  redis:
    image: "redis:alpine"
  db:
    image: postgres:14.1-alpinet
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1
      POSTGRES_DB: url_shortner
      POSTGRES_PORT: 5432
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

    volumes:
      - db:/var/lib/postgresql/data
      - ./deployments/ddl.sql:/docker-entrypoint-initdb.d/create_tables.sql
volumes:
  db:
    driver: local
